img {
    width: 100%;
    height: auto;
}

h1{
    color: #ffffff;
    font-weight: bold;
}

p{
    color: #ffffff;
}

a{
    background-color: #E50914;
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: #E50914;
    color: white;
    border: 2px solid white;
}