<div class="contain-fluid mt-5 p-5">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="mb-3 col-lg-10">
                <input type="text" class="form-control" formControlName="movieName" placeholder="Search Movie Here...">
            </div>
            <div class="col-lg-2">
                <button class="btn btn-md">Search</button>
            </div>
        </div>

    </form>




    <div class="row mt-5">
        <div class="col-lg-4" *ngFor="let search of searchResults">
            <div class="row">
                <div class="col-lg-3 mt-4 mb-4" *ngIf="search.poster_path">
                    <img src="https://image.tmdb.org/t/p/original/{{search.poster_path}}"
                    [routerLink]="['/movie',search.id]"
                    alt="...">
                </div>
                <div class="col-lg-9 mt-4 mb-4">
                    <h5>{{search.original_title}}</h5>
                    
                </div>
            </div>
        </div>
    </div>
</div>