.carousel-inner {
    height: 700px;
}

.carousel-inner .carousel-item img {
    height: 700px;
    object-fit: cover;
}

.carousel-caption h2{
    color: #E50914;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p {
    color: white;
}

.rowposter {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowimg{
    max-height: 200px;
    object-fit: contain;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
}

.rowimg:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.largeposter{
    max-height: 300px;
}

