<!-- banner -->
<div class="container-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active"
          *ngFor="let res of bannerResults;let i=index"
          [ngClass]="{active:i===0}">
            <img src="https://image.tmdb.org/t/p/original/{{res.backdrop_path}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>{{res.original_title}}</h2>
                <p>{{res.overview}}</p>
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="contain mt-3 mb-5 p-3">
    <!-- Trending -->
    <div class="row">
        <h5 class="text-white">Trending movies </h5>
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let res of trendingResults">
                <img src="https://image.tmdb.org/t/p/original/{{res.poster_path}}" class="rowimg largeposter" alt="..."
                [routerLink]="['/movie',res.id]">
            </ng-container>
        </div>
    </div>


    <!-- Action -->
    <div class="row mt-4">
      <h5 class="text-white">Action movies </h5>
      <div class="rowposter mt-3 p-2">
          <ng-container *ngFor="let a of actionMovieResults">
              <img src="https://image.tmdb.org/t/p/original/{{a.poster_path}}" class="rowimg largeposter" alt="..."
              [routerLink]="['/movie',a.id]">
          </ng-container>
      </div>
  </div>

  <div class="row mt-4">
    <h5 class="text-white">Adventure movies </h5>
    <div class="rowposter mt-3 p-2">
        <ng-container *ngFor="let a of adventureMovieResults">
            <img src="https://image.tmdb.org/t/p/original/{{a.poster_path}}" class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',a.id]">
        </ng-container>
    </div>
</div>

<div class="row mt-4">
  <h5 class="text-white">Animation movies </h5>
  <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let a of animationMovieResults">
          <img src="https://image.tmdb.org/t/p/original/{{a.poster_path}}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',a.id]">
      </ng-container>
  </div>
</div>

<div class="row mt-4">
  <h5 class="text-white">Comedy movies </h5>
  <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let c of comedyMovieResults">
          <img src="https://image.tmdb.org/t/p/original/{{c.poster_path}}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',c.id]">
      </ng-container>
  </div>
</div>

<div class="row mt-4">
  <h5 class="text-white">Documentary movies </h5>
  <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let d of documentaryMovieResults">
          <img src="https://image.tmdb.org/t/p/original/{{d.poster_path}}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',d.id]">
      </ng-container>
  </div>
</div>

<div class="row mt-4">
  <h5 class="text-white">Science-Fiction movies </h5>
  <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let s of scifiMovieResults">
          <img src="https://image.tmdb.org/t/p/original/{{s.poster_path}}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',s.id]">
      </ng-container>
  </div>
</div>

<div class="row mt-4">
  <h5 class="text-white">Thriller movies </h5>
  <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let t of thrillerMovieResults">
          <img src="https://image.tmdb.org/t/p/original/{{t.poster_path}}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
  </div>
</div>


</div>
